.UsersInRoom {
  flex-direction: column;
  color: white;
  font-size: 1.2vw;
}

.nameicon img {
  padding-left: 0.5vw;
  padding-bottom: 0.28vh;
}

.activeitem td.right.aligned {
  color: red;
  text-align: right;
  align-items: right;
}
