.outercontainer {
  display: flex;
  justify-content: space-around;

  align-items: center;
  height: 100vh;
  background-color: #1a1a1d;
}

.hideme {
  height: 0rem;
  width: 0rem;
  margin-top: 100vh;
  display: block;
}

.navbar a {
  width: fit-content;
  display: inline-flex;
  float: center;
  color: #bdbdbd;
  text-align: center;
  padding: 2vh 3vw;
  font-size: 1.6vw;
}

.navbar a.welcome {
  text-align: right;
  width: fit-content;
  float: center;
}

.navbar a.sharelink {
  text-align: center;
  width: fit-content;
  float: right;
  font-size: 1vw;
  border-radius: 15px;
  color: #6161ff;
}

.navbar a.sharelink:hover {
  /* transform: rotate(40deg); */
  transition: all 0.1s ease-in;
  background-color: #2978ff25;
}

.container {
  display: flex;
  flex-direction: column;
  background: #206810;
  border-radius: 1vw;
  height: 70vh;
  width: 50vw;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}

.userList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #92541181;
  background: transparent;
  border-radius: 8px;
  height: 70vh;
  width: 25vw;
  padding: 0.8vw;
}

.navbar {
  overflow: hidden;
  background-color: rgb(26, 38, 77);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6vh;
}
